{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="headline">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{{ asset('images/conuti-logo-white-90px.png') }}">
                </div>
                <div class="col-8">
                    <h1>{{ "Login"|trans }}</h1>
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                    {% if app.user %}
                            <a href="{{ path('app_logout') }}" title="{{ "Logout"|trans }}">
{#                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">#}
{#                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>#}
{#                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>#}
{#                                </svg>#}
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                </svg>
                            </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
                    <label for="username">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
                    <label for="password">Passwort</label>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="btn btn-lg btn-conuti mt-3" type="submit">
                    {{ "Login"|trans }}
                </button>

                <a class="btn btn-lg btn-conuti-secondary mt-3" href="{{ path("app_register") }}">{{ "Zur Registrierung"|trans }}</a>
            </form>
            <a class="a-conuti" href="{{ path("app_forgot_password_request") }}">{{ "Passwort vergessen"|trans }}</a>
        </div>
    </div>

{% endblock %}
