<div class="col-xs-4 js-item-bonus">
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-3">
            <div class="form-floating mb-3">
                {{ form_widget(form.amount) }}
                {{ form_label(form.amount) }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating mb-3">
                {{ form_widget(form.percent) }}
                {{ form_label(form.percent) }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating mb-3">
                {{ form_widget(form.description) }}
                {{ form_label(form.description) }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating mb-3">
                {{ form_widget(form.add) }}
            </div>
        </div>
        <div class="col-3 mb-1">
            {{ form_label(form.month) }}
            {{ form_widget(form.month) }}
        </div>
        <div class="col-3">
            {{ form_label(form.year) }}
            {{ form_widget(form.year) }}
        </div>
        <div class="col-3 mt-3">
            <div class="form-floating">
                {{ form_widget(form.info) }}
                {{ form_label(form.info) }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-floating mb-3">
                    {{ form_widget(form.removeEntryBonus) }}
                    {{ form_label(form.removeEntryBonus) }}
                </div>
            </div>
        </div>
    </div>
</div>
