<div id="deleteModal-{{ employee.Id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ "app.employee.delete"|trans }}</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Möchtest du den Mitarbeiter {{ employee.firstName }} {{ employee.name }} wirklich aus dem System löschen?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{{ path("app_employee_delete", {"employeeId": employee.id}) }}">Löschen</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "app.close"|trans }}</button>
            </div>
        </div>
    </div>
</div>
